.app.dark {
  --bg-color: #323232;
  --inverted-bg-color: #d7fbe8;

  --primary-color: #0d7377;
  --secondary-color: #14ffec;

  --inverted-primary-color: #62d2a2;
  --inverted-secondary-color: #1fab89;
}
