.app.light {
  --bg-color: #d7fbe8;
  --inverted-bg-color: #323232;

  --primary-color: #62d2a2;
  --secondary-color: #1fab89;

  --inverted-primary-color: #0d7377;
  --inverted-secondary-color: #14ffec;
}
